doctype
html(lang="ja")
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;800&display=swap" rel="stylesheet")
    title ビューワ
  body
    #app
      v-app(style="background: transparent")
        viewer-component()

    script(src="js/app.js" type="text/javascript")
